@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Страница 1</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.3.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">



    <script type="application/ld+json">{
		@*"@context": "http://schema.org",
		"@type": "Organization",*@
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 1">
    <meta property="og:type" content="website">
</head>
<body class="u-body">
    <header class="u-clearfix u-custom-color-2 u-header u-header" id="sec-13e7"><div class="u-clearfix u-sheet u-sheet-1"></div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-1955">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-form u-form-1">
                <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px" source="custom">
                    <div class="u-form-group u-form-name u-label-top u-form-group-1">
                        <label for="name-558c" class="u-label">ID</label>
                        <input type="text" placeholder="ID" id="name-558c" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-form-submit u-form-group-2">
                        <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                    <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                    <input type="hidden" value="" name="recaptchaResponse">
                </form>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-7531">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
                <ul class="u-border-2 u-border-palette-1-base u-spacing-10 u-tab-list u-unstyled" role="tablist">
                    <li class="u-tab-item" role="presentation">
                        <a class="active u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Description</a>
                    </li>
                    <li class="u-tab-item" role="presentation">
                        <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-2" id="link-tab-10ae" href="#tab-10ae" role="tab" aria-controls="tab-10ae" aria-selected="false">Description</a>
                    </li>
                    <li class="u-tab-item" role="presentation">
                        <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-3" id="link-tab-2d17" href="#tab-2d17" role="tab" aria-controls="tab-2d17" aria-selected="false">Description</a>
                    </li>
                    <li class="u-tab-item" role="presentation">
                        <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-4" id="link-tab-b57a" href="#tab-b57a" role="tab" aria-controls="tab-b57a" aria-selected="false">Description</a>
                    </li>
                </ul>
                <div class="u-tab-content">
                    <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h4 class="u-text u-text-default u-text-1">Basic Settings</h4>
                            <div class="u-expanded-width u-table u-table-responsive u-table-1">
                                <table class="u-table-entity">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                    </colgroup>
                                    <tbody class="u-table-alt-grey-5 u-table-body">
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Column 1</td>
                                            <td class="u-table-cell">Column 2</td>
                                            <td class="u-table-cell">Column 3</td>
                                            <td class="u-table-cell">Column 4</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 1</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 2</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 3</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 52px;">
                                            <td class="u-table-cell">Row 4</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-tab-pane u-white u-tab-pane-2" id="tab-10ae" role="tabpanel" aria-labelledby="link-tab-10ae">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <h4 class="u-text u-text-default u-text-2">Basic Settings</h4>
                            <div class="u-expanded-width u-table u-table-responsive u-table-2">
                                <table class="u-table-entity">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                    </colgroup>
                                    <tbody class="u-table-alt-grey-5 u-table-body">
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Column 1</td>
                                            <td class="u-table-cell">Column 2</td>
                                            <td class="u-table-cell">Column 3</td>
                                            <td class="u-table-cell">Column 4</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 1</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 2</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 3</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 52px;">
                                            <td class="u-table-cell">Row 4</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2d17" role="tabpanel" aria-labelledby="link-tab-2d17">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                            <h4 class="u-text u-text-default u-text-3">Basic Settings</h4>
                            <div class="u-expanded-width u-table u-table-responsive u-table-3">
                                <table class="u-table-entity">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                    </colgroup>
                                    <tbody class="u-table-alt-grey-5 u-table-body">
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Column 1</td>
                                            <td class="u-table-cell">Column 2</td>
                                            <td class="u-table-cell">Column 3</td>
                                            <td class="u-table-cell">Column 4</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 1</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 2</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 3</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 52px;">
                                            <td class="u-table-cell">Row 4</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-tab-pane u-white u-tab-pane-4" id="tab-b57a" role="tabpanel" aria-labelledby="link-tab-b57a">
                        <div class="u-container-layout u-valign-top u-container-layout-4">
                            <h4 class="u-text u-text-default u-text-4">Basic Settings</h4>
                            <div class="u-expanded-width u-table u-table-responsive u-table-4">
                                <table class="u-table-entity">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                    </colgroup>
                                    <tbody class="u-table-alt-grey-5 u-table-body">
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Column 1</td>
                                            <td class="u-table-cell">Column 2</td>
                                            <td class="u-table-cell">Column 3</td>
                                            <td class="u-table-cell">Column 4</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 1</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 2</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 51px;">
                                            <td class="u-table-cell">Row 3</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                        <tr style="height: 52px;">
                                            <td class="u-table-cell">Row 4</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                            <td class="u-table-cell">Description</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-5a82">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Пример текста. Кликните, чтобы выбрать текстовый блок. Кликните еще раз или сделайте двойной клик, чтобы начать редактирование текста.</p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
        <a class="u-link" href="https://nicepage.com/css-templates" target="_blank">
            <span>CSS Templates</span>
        </a>
        <p class="u-text">
            <span>created with</span>
        </p>
        <a class="u-link" href="https://nicepage.com/static-site-generator" target="_blank">
            <span>Static Website Generator</span>
        </a>.
    </section>
</body>
</html>
